<div class="container">
  <div class="row d-flex justify-content-around align-items-center" style="margin-top: 30px;">
    <div class="col-12 col-md-12 col-lg-8 justify-content-center">
      <h5>Hello!</h5>
      <p>
        <br>
        I’m Marie, a certified make up artist based in Bruxelles.
        <br><br>
        After a degree in clinical psychology, I followed my heart toward the studies of make up.
        I’ve worked in multiple domains such as the film industry, the theater, the photo shoots, fashion, publicity, events and television.
        <br><br>
        For every project, i work with the same passion and excitement.
        <br><br>
        I look forward meeting and working with you!
        <br><br>
        I also propose lessons of basic make up for you and/or your friends all around Bruxelles and the surroundings.
        <br><br>
        Don’t hesitate to <%= link_to "contact", "mailto:camcolet@gmail.com", class: "contact-link" %> me for more informations!
      </p>
    </div>
    <div class="avatar-marie col-12 col-md-12 col-lg-4"><%= image_tag("avatar.jpg")%></div>
  </div>
</div>




