<div class="container" style="margin-bottom: 50px; margin-top: 30px;">
  <div class="contact row d-flex justify-content-around align-items-center">
    <div class="image-contact col-12 col-md-12 col-lg-8"><%= image_tag("entete.JPG")%></div>
    <div class="col-12 col-md-12 col-lg-4 justify-content-end">
      <h3>Contact me</h3>
      <br>
        <a href="mailto:camcolet@gmail.com">mariecolet01@gmail.com</a>
        <p>+32 497 24 00 77</p>
        <a href="https://www.instagram.com/mc__mua/" target="_blank" style="font-size: 20px; margin:20px;"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>
