// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";


// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: white;
}

a {
  color: black;
  &:hover {
    color: #fdb827;
    text-decoration: none;
  }
}

.container-contact {
  width: 500px;
  margin: 0 auto;
}

hr {
  font-weight: bold !important;
  color: black;
  margin: 50px 0;
}
